<img src= "../imagenes/ViewBag.foto">
<h2>Nombre : @ViewBag.nombre </h2>
<h2>Nombre : @ViewBag.apellido </h2>
<h2>Nombre : @ViewBag.email </h2>
<h2>Nombre : @ViewBag.fechaNacimiento </h2>
<h2>Nombre : @ViewBag. </h2>
<a href="@Url.Action"